/* general home page layout */
#home-page {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1.5fr 1fr;
  grid-template-areas:
    "hero-carousel hero-carousel hero-carousel side-hotAnime"
    "recommendations recommendations recommendations side-hotAnime";
  max-width: 1536px;
  margin: 20px auto 0px auto;
}

#hero-carousel,
#recommendations {
  margin-left: 40px;
}

#hero-carousel {
  grid-area: hero-carousel;
}

#side-hotAnime {
  grid-area: side-hotAnime;
  max-width: 300px;
}

#recommendations {
  grid-area: recommendations;
  max-height: 300px;
  overflow: hidden;
  border-radius: 7px;
}

/* sidebar */
#sidebar {
  max-height: 813px;
  overflow-y: auto;
  margin-right: 10px;
}

/* home carousel */
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 7px;
}

#carousel {
  display: flex;
  transition: transform 0.3s;
}

/* sidebar disappears on mobile screen */
@media (max-width: 992px) {
  #sidebar {
    display: none;
  }
  #home-page {
    grid-template-columns: repeat(3, 1fr);
  }
}
