@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  @apply bg-primary text-primary;
}

.dark {
  --color-bg-primary: #121318;
  --color-text-primary: #dbdbdb;
  --color-text-accent: #cfa950;
  --color-bg-card: rgb(38, 38, 38);
}

.light {
  --color-bg-primary: #ffffff;
  --color-text-primary: #2d3748;
  --color-text-accent: #1b5187;
  --color-bg-card: #133a62;
}
